extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7   
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel possimus debitis dolorum adipisci repellat, natus tempora ipsam, iusto, esse magnam laborum. Recusandae quia aut nisi dolore culpa blanditiis porro ut.

                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam reprehenderit iusto amet eligendi molestiae odit id impedit ullam perferendis, non cupiditate harum placeat debitis iste nobis officiis ad voluptatum cum.

                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident eius est nihil voluptatum ipsa. Officia tenetur odit doloremque ad nemo fugiat necessitatibus dicta, ex perferendis inventore voluptate voluptates consectetur! Dolor.

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono segurida", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, aliquid. Placeat quia consequatur natus corporis dolorum sit nobis.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono segurida", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, aliquid. Placeat quia consequatur natus corporis dolorum sit nobis.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, aliquid. Placeat quia consequatur natus corporis dolorum sit nobis.
